@model List<movies_catalogue.Models.Movie>

@{
    ViewData["Title"] = "All Movies";
}

<div class="container">
<div class="row mt-3 mb-3">
    <div class="col-8">
        <h1>All Movies</h1>
    </div>

    <div class="col-4">
        <p>
            <a asp-action="Create" class="btn btn-info float-right">Add a Movie</a>
        </p>
    </div>
</div>


       @for (int i = 0; i < Model.Count; i++)
       {
           var item = Model[i];

           if(i % 3 == 0)
           {
               @:<div class="row">
           }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 30rem;">
                <img class="card-img-top" src="@item.PictureURL" style="height: 50%;" alt="Image for movie!">

                <div class="card-body">
                    <h3 class="card-title text-center"><a href="@item.ImdbLink" target="_blank">@item.MovieName</a></h3>
                    <p class="card-text">
                        <h6>Release Date: <span class="font-weight-light">@item.ReleaseDate</span></h6>
                        <h6>@item.TimeLeft()</h6>
                    </p>
                    <h5>Rating: @item.Rating</h5>
                </div>

                <div class="card-footer">
                    <!-- <a asp-controller="Products" asp-action="AddProductToCard" asp-route-id="@item.MovieId" class="btn btn-info">Add to Favorites</a> -->
                    <a asp-controller="Movies" asp-action="Edit" asp-route-id="@item.MovieId" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>


           if(i % 3 == 2)
           {
               @:</div>
           }
       }
</div>
